body{
  padding: 0;
  margin: 0;
  background-color: rgb(29, 32, 31);

}
.main-container{
  height: 100vh;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  background-color: antiquewhite;
  width: 200px;
  height: 200px; 
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;


}
 

.plus-btn{
  border: none;
  border-radius: 4px;
  background-color: rgb(13, 245, 168);
  padding: 20px;
  font-size: larger;
  cursor: pointer;
}
.plus-btn:hover{
  background-color: rgba(13, 245, 168,0.4);
}

.minus-btn{
  border-radius: 4px;
  border: none;
  background-color: rgb(250, 85, 85);
  padding: 20px;
  font-size: larger;
   cursor: pointer
}
.minus-btn:hover{
  background-color: rgba(250, 85, 85,0.4);
}

.reset-btn{
  border-radius: 4px;
  border: none;
  background-color: rgb(131, 186, 246);
  padding: 20px;
  font-size: larger;
   cursor: pointer
}
.reset-btn:hover{
  background-color: rgba(131, 186, 246,0.4);
}



h1{
  border-radius: 8px;
  background-color: blanchedalmond;
  padding: 20px;
}